p{
    background-color: red;
    margin-top: auto;
    padding: 5 5 5 5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rajni{
    margin: 100;
    padding: 5 5 5 5 ;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}